*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo-container {
    background-image: url("../images/Olcso_futes_logo_2.png");
    background-size:contain;
    grid-area: logo-container;
    justify-self: right;
    margin-right: var(--text-padding);
    align-self: center;
    width: 40px;
    height: 40px;
    
}


